@page "/Afspraak"
@using Project.Client.Pages.Contact
@using FluentValidation
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<div class="container">
    <div class="card-container">
        <MudItem>
            <MudGrid>
                <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                    <!-- Google Calendar Appointment Scheduling begin -->
                    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ09WYK7Ez2aKgMMS0WncSoZ7ADcYse6M_UFJ9xO2t7wI4srDWZpIGjWM4yASjLe2ro6AYSdz8UT?gv=true" style="border: 0; height: 112rem;" frameborder="0"></iframe>
                    <!-- end Google Calendar Appointment Scheduling -->
                </MudContainer>
            </MudGrid>
        </MudItem>
    </div>
</div>


}





