



<footer class="border-top">
    <div class="container">
        <div class="footer">
            <div class="footer-left">
                <p class="text-base text-white">
                    © 2023 Made by groep 1. All Rights Reserved.
                </p>
            </div>
            @* <div class="footer-right">
                <ul class="social-links">
                    <li>
                        <a href="https://www.linkedin.com/in/anasio-claeys-66b426253/">
                            <MudIcon Icon="@Icons.Custom.Brands.Instagram"></MudIcon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/anasioclaeys/">
                            <MudIcon Icon="@Icons.Custom.Brands.Facebook"></MudIcon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/anasio.claeys/">
                            <MudIcon Icon="@Icons.Custom.Brands.Twitter"></MudIcon>
                        </a>
                    </li>
                </ul>
            </div> *@
        </div>
    </div>
</footer>


@code {

}
