
@using Project.Client.Pages.Home.Components


<div class="container">
    <h2>over ons</h2>


    <div class="card-container">

        <MudItem>
            <MudCard Class="rounded-lg">
                <div class="card-content">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Info over de praktijk</MudText>
                        <MudText Typo="Typo.body2" Style="margin-top:15px">Hier vindt u informatie en updates over de praktijk.</MudText>
                    </MudCardContent>
                </div>
                <div class="btn-meer-nieuws">
                    <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">Meer nieuws</MudButton>
                    </MudCardActions>
                </div>
            </MudCard>
        </MudItem>
    </div>
</div>