@inject NavigationManager NavigationManager

<div class="categorie">
<h2>Categorieën</h2>


    <div class="card-container">
        
            <MudItem>
                <MudCard Class="rounded-lg">
                    <div class="card-content">
                        <MudCardContent>
                            <MudText Typo="Typo.h6">Info over de praktijk</MudText>
                            <MudText Typo="Typo.body2" Style="margin-top:15px">Hier vindt u informatie en updates over de praktijk.</MudText>
                        </MudCardContent>
                    </div>
                    <div class="btn-meer-nieuws">
                        <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">Meer nieuws</MudButton>
                        </MudCardActions>
                    </div>
                </MudCard>
            </MudItem>

            <MudItem>
                <MudCard Class="rounded-lg">
                    <div class="card-content">
                        <MudCardContent>
                            <MudText Typo="Typo.h6">Nieuwe behandelmethoden</MudText>
                        <MudText Typo="Typo.body2" Style="margin-top:15px">Hier vindt u meer informatie over nieuwe behandelmethoden en technologieën</MudText>
                        </MudCardContent>
                    </div>
                    <div class="btn-meer-nieuws">
                        <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">Meer nieuws</MudButton>
                        </MudCardActions>
                    </div>
                </MudCard>
            </MudItem>

            <MudItem>
                <MudCard Class="rounded-lg">
                    <div class="card-content">
                        <MudCardContent>
                        <MudText Typo="Typo.h6">Verzekeringen en betalingen</MudText>
                        <MudText Typo="Typo.body2" Style="margin-top:15px">Hier kunt U informatie vinden over geaccepteerde verzekeringsmaatschappijen & betaalmethoden.</MudText>
                        </MudCardContent>
                    </div>
                    <div class="btn-meer-nieuws">
                        <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">Meer nieuws</MudButton>
                        </MudCardActions>
                    </div>
                </MudCard>
            </MudItem>

            <MudItem>
                <MudCard Class="rounded-lg">
                    <div class="card-content">
                        <MudCardContent>
                            <MudText Typo="Typo.h6">Veelgestelde vragen (FAQ)</MudText>
                        <MudText Typo="Typo.body2" Style="margin-top:15px">Hier vindt u de oplossingen van veelgestelde vragen</MudText>
                        </MudCardContent>
                    </div>
                    <div class="btn-meer-nieuws">
                        <MudCardActions>
                        <MudButton Variant="MudBlazor.Variant.Text" Color="Color.Primary">Meer nieuws</MudButton>
                        </MudCardActions>
                    </div>
                </MudCard>
            </MudItem>
        
    </div>

</div>

